@import "../../../../../components/Navbar/style/Navbar.scss";
.hero {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  color: $primary-color;
  font-family: $main-font;

  .left-hero {
    width: 60%;

    .hero-header {
      h1 {
        color: $primary-color;
        font-family: $main-font;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 1px;
      }
      span {
        color: $secondary-color;
      }
    }

    .hero-body {
      p {
        color: rgba(20, 20, 20, 0.7);
        font-family: DM Sans;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 34.5px */
      }
    }

    .hero-trusted {
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin: 27px auto;

      p {
        color: rgba(20, 20, 20, 0.7);
        font-family: $main-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
      }
    }

    .hero-search {
      display: flex;
      align-items: center;
      width: 100%;
      height: 60px;

      .search-box {
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: 72%;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid rgba(20, 20, 20, 0.1);
        background: $white-color;
        padding: 15px;

        input {
          width: 100%;
          outline-color: transparent;
          border: transparent;
          color: rgba(20, 20, 20, 0.5);
          font-family: $main-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }

      button {
        width: 100%;
        padding: 17px 50px;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        border: 1px solid $secondary-color;
        background-color: $secondary-color;
        color: $white-color;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $primary-color;
          border: 1px solid $primary-color;
        }
      }
    }
  }

  .right-hero {
    img {
      width: 100%;
    }
  }
}

// Responsiveness starts here
@media (max-width: 1280px) {
  .hero {
    .left-hero {
      .hero-search {
        .search-box {
          width: 65%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    .left-hero {
      .hero-header {
        margin: 20px 0;
        h1 {
          font-size: 32px;
        }
      }

      .hero-body {
        margin: 20px 0;
        p {
          font-size: 15px;
        }
      }

      .hero-trusted {
        column-gap: 10px;
        p {
          font-size: 10px;
        }
      }

      .hero-search {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;

        .search-box {
          input {
            font-size: 10px;
          }
        }

        button {
          padding: 18px 30px;
          font-size: 12px;
        }
      }
    }
  }
}

/* Medium Screens */
@media (max-width: 991px) {
  .hero {
    flex-direction: column;
    column-gap: 0;
    row-gap: 50px;

    .left-hero {
      width: 100%;
      .hero-header {
        margin: 0;
      }
      .hero-search {
        .search-box {
          width: 75%;
        }
      }
    }
  }
}

/* Small Screens */
@media screen and (max-width: 640px) {
  .hero {
    .left-hero {
      .hero-header{
        h1{
          font-size: 28px;
        }
      }
      .hero-trusted {
        img {
          width: 37.809px;
          height: 16.204px;
        }
      }
      .hero-search {
        width: 100vw;
        .search-box {
          width: 50%;
        }
        button {
          padding: 18px 25px;
        }
      }
    }
  }
}
