.register-artisan {
  background-image: url(../images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;

  form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 7px 44px 0px rgba(0, 120, 240, 0.09),
      0px 4px 27px 0px rgba(20, 20, 20, 0.02);
    width: 30%;
    padding: 50px;
    margin: 20px auto;

    .register-artisan-header {
      text-align: center;

      h1 {
        color: #141414;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .register-artisan-form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-top: 30px;

      .register-artisan-input {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #666;
          font-family: DM Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          button {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: #666;
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline-color: transparent;
            border: transparent;
            background: transparent;
            cursor: pointer;
          }
        }

        input, textarea {
          border-radius: 12px;
          border: 1px solid rgba(20, 20, 20, 0.2);
          outline-color: rgba(20, 20, 20, 0.2);
          padding: 15px 20px;
          color: #666;
          font-family: DM Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        textarea{
          resize: none;
          height: 100px;
        }
      }
    }

    .register-artisan-button {
      margin-top: 50px;

      button {
        border-radius: 32px;
        opacity: 0.25;
        background: #10be65;
        color: #fff;
        text-align: center;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 15px;
        cursor: pointer;
        border: transparent;
        outline-color: transparent;
        width: 100%;
      }
    }

    .artisan-login {
      margin-top: 20px;
      text-align: center;

      p {
        color: #666666;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        span{
          color: #10be65;
          
        }
      }
    }
  }
}

// Responsiveness starts here
@media (max-width: 1280px) {
  .register-artisan {
    form {
      width: 40%;
    }
  }
}

@media (max-width: 1024px) {
  .register-artisan {
    form {
      width: 50%;
    }
  }
}

@media (max-width: 991px) {
  .register-artisan {
    form {
      width: 70%;
    }
  }
}

@media screen and (max-width: 640px) {
  .register-artisan {
    margin-bottom: 0;
    form {
      width: 80%;
      padding: 30px;

      .register-artisan-header {
        h1 {
          font-size: 24px;
        }
      }
      .register-artisan-form {
        .register-artisan-input {
          label {
            font-size: 13px;

            button {
              font-size: 13px;
            }
          }
          input,textarea {
            border-radius: 8.785px;
            border: 0.732px solid rgba(20, 20, 20, 0.2);
            padding: 12px 15px;
            font-size: 13px;
          }
        }
      }
      .register-artisan-button {
        margin-top: 40px;
        font-size: 14px;
        padding: 12px 0;
      }

      .artisan-login{
        p{
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
