.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #f0f0f0;
  .loading-container {
    width: 50px;
    height: 50px;
    border: 8px solid #3498db;
    border-top: 8px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.artisan-jobs {
  .artisan-jobs-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: #141414;
      font-family: DM Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 48px */
    }

    .filter-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      border-radius: 4px;
      padding: 10px;
      border: 1px solid rgba(20, 20, 20, 0.1);
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03);

      .left-filter-box {
        display: flex;
        align-items: center;
        column-gap: 10px;

        img {
          width: 24px;
          height: 24px;
        }

        p {
          color: #141414;
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }

      .right-filter-box {
        cursor: pointer;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .artisan-jobs-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .artisan-job-card {
      display: flex;
      column-gap: 20px;
      border-radius: 8px;
      border: 1px solid rgba(20, 20, 20, 0.05);
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 190, 101, 0.03);
      padding: 20px;
      transition: all 0.3s ease-in;

      .left-artisan-job-card {
        min-width: 12%;
        img {
          width: 72px;
          height: 72px;
          flex-shrink: 0;
          border-radius: 4px;
          background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
      }

      .right-artisan-job-card {
        width: max-content;

        .artisan-role {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          h3 {
            color: #141414;
            font-family: DM Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 36px */
          }

          .artisan-info {
            display: flex;
            align-items: center;
            column-gap: 50px;

            .location,
            .duration {
              display: flex;
              align-items: center;
              column-gap: 10px;

              img {
                width: 16px;
                height: 16px;
              }

              p {
                color: rgba(20, 20, 20, 0.7);
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
              }
            }
          }

          p {
            color: rgba(20, 20, 20, 0.7);
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }

      &:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
    }
  }
}

// responsiveness starts here
@media (max-width: 1280px) {
  .artisan-jobs {
    .artisan-jobs-section {
      .artisan-job-card {
        column-gap: 10px;
        .left-artisan-job-card {
          width: 45%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .artisan-jobs {
    .artisan-jobs-section {
      .artisan-job-card {
        column-gap: 10px;
        .left-artisan-job-card {
          width: 75%;
        }
        .right-artisan-job-card {
          .artisan-role {
            .artisan-info {
              column-gap: 30px;
            }
          }
        }
      }
    }
  }
}

/* Small Screens */
@media screen and (max-width: 640px) {
  .artisan-jobs {
    .artisan-jobs-header {
      h2 {
        font-size: 20px;
      }
      .filter-box {
        width: 159.027px;
        padding: 6.791px 12px;
        .left-filter-box {
          img {
            width: 16px;
            height: 16px;
          }
          p {
            font-size: 13px;
          }
        }
        .right-filter-box {
          img {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    .artisan-jobs-section {
      margin-top: 10px;

      .artisan-job-card {
        padding: 10px 15px;
        .left-artisan-job-card {
          width: 20%;
          img {
            width: 33.211px;
            height: 33.211px;
          }
        }
        .right-artisan-job-card {
          .artisan-role {
            row-gap: 5px;
            h3 {
              font-size: 18px;
            }

            .artisan-info {
              .location,
              .duration {
                column-gap: 5px;
                img {
                  width: 16px;
                  height: 16px;
                }
                p {
                  font-size: 13px;
                }
              }
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
