.artisan-profile {
  .artisan-profile-nav {
    display: flex;
    align-items: center;
    column-gap: 5px;

    img {
      width: 24px;
      height: 24px;
    }

    h4 {
      color: #38aa70;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px; /* 222.222% */
    }
  }
}

/* Small Screens */
@media screen and (max-width: 640px) {
  .artisan-profile {
    .artisan-profile-nav {
      img {
        width: 12px;
        height: 12px;
      }
      h4 {
        font-size: 15px;
      }
    }
  }
}
