.artisan-post {
  margin-top: 45px;

  h1 {
    color: #1e1d4c;
    overflow: hidden;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.539px; /* 98.157% */
  }
}
