*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar handle */
  border-radius: 6px; /* Set the border radius of the scrollbar handle */
}