.sign-up-with-email {
  background-image: url(../images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;

  form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 7px 44px 0px rgba(0, 120, 240, 0.09),
      0px 4px 27px 0px rgba(20, 20, 20, 0.02);
    width: 30%;
    padding: 50px;
    margin: 0 auto;

    .with-email-header {
      text-align: center;

      h1 {
        color: #141414;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .with-email-form {
      display: flex;
      row-gap: 20px;
      flex-direction: column;
      margin-top: 30px;

      .with-email-input {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        label {
          display: flex;
          justify-content: space-between;
          color: #666;
          font-family: DM Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          button {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: #666;
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline-color: transparent;
            border: transparent;
            background: transparent;
            cursor: pointer;
          }
        }

        input {
          border-radius: 12px;
          border: 1px solid rgba(20, 20, 20, 0.2);
          padding: 15px 20px;
          color: #666;
          font-family: DM Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          outline-color: rgba(20, 20, 20, 0.2);
        }
      }
    }
    .sign-up-button {
      width: 100%;
      margin-top: 50px;
      border-radius: 32px;
      opacity: 0.25;
      background: #10be65;
      color: #fff;
      text-align: center;
      font-family: DM Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
      border: transparent;
      outline-color: transparent;
      padding: 15px;
    }
  }
}

// Responsiveness starts here
@media (max-width: 1280px) {
  .sign-up-with-email {
    form {
      width: 40%;
    }
  }
}

@media (max-width: 1024px) {
  .sign-up-with-email {
    form {
      width: 50%;
    }
  }
}

@media (max-width: 991px) {
  .sign-up-with-email {
    form {
      width: 70%;
    }
  }
}

@media screen and (max-width: 640px) {
  .sign-up-with-email {
    margin-bottom: 0;

    form {
      width: 80%;
      padding: 30px;

      .with-email-header {
        h1 {
          font-size: 24px;
        }
      }
      .with-email-form {
        .with-email-input {
          label {
            font-size: 13px;

            button {
              font-size: 13px;
            }
          }
          input {
            border-radius: 8.785px;
            border: 0.732px solid rgba(20, 20, 20, 0.2);
            padding: 12px 15px;
          }
        }
      }
      .sign-up-button {
        margin-top: 40px;
        font-size: 14px;
        padding: 12px;
      }
    }
  }
}
